* {
    font-size: 15px;
    font-family: "Cascadia Code Nerd Font";
}

/* Window */
window {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

/* Outer Box */
#outer-box {
  padding: 0px;
  border: 1px solid #313244;
  border-radius: 16px;
  background-color: rgba(30, 30, 46, 0.92);
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 0px;
  border: none;
  border-radius: 8px;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 8px;
}

/* Input */
#input {
  margin: 10px;
  padding: 4px 8px;
  border: 1px solid #313244;
  border-radius: 8px;
  font-size: 14pt;
  background-color: #11111b;
  color: #cdd6f4;
}

#input image {
  border: none;
  color: #cdd6f4;
}

#input:focus {
  outline: none;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

#entry arrow {
  border: none;
  color: #cdd6f4;
}

/* Selected Entry */
#entry:selected {
  border-radius: 8px;
  border: 1px solid #313244;
  background-color: #45475a;
  outline: none;
}

#entry:selected #text {
  color: #cdd6f4;
}

#entry * {
  border: none;
  color: #cdd6f4;
  background-color: transparent;
}
