@define-color bg-color rgba(30, 30, 30, 0.92);
@define-color border-color rgba(50, 50, 50, 0.8);
@define-color selected-bg-color #45475a;
@define-color selected-border-color #313244;
@define-color text-color #cdd6f4;


* {
    font-size: 15px;
    font-family: "Ubuntu Nerd Font";
}

/* Window */
window {
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

/* Outer Box */
#outer-box {
  padding: 0px;
  border: none;
  border-radius: 5px;
  background-color: @bg-color;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 0px;
  border: none;
  border-radius: 5px;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 5px;
}

/* Input */
#input {
  margin: 10px;
  padding: 4px 8px;
  border: 1px solid @border-color;
  border-radius: 5px;
  font-size: 14pt;
  background-color: #111111;
  color: @text-color;
}

#input image {
  border: none;
  color: @text-color;
}

#input:focus {
  outline: none;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text-color;
}

#entry {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

#entry arrow {
  border: none;
  color: @text-color;
}

/* Selected Entry */
#entry:selected {
  border-radius: 5px;
  border: 1px solid @selected-border-color;
  background-color: @selected-bg-color;
  outline: none;
}

#entry:selected #text {
  color: @text-color;
}

#entry * {
  border: none;
  color: @text-color;
  background-color: transparent;
}
